@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: $primary-color;
  color: fff;
  font-family: 'Press Start 2P', sans-serif;
  height: 100vh;
  margin: 0;
}

#root {
  height: 100%;
  width: 100%;
  text-align: center;
  overflow: hidden;
  margin: 0;
}

.screen {
  
}
